:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --pink: #E12AFB;
    --green: #7bd081;
}
.my-element {
    height: 100px;
    background-color: var(--pink);
    color: var(--white);
}
.my-element-animate {
    width: 30%;
    height: 50px;
    background-color: var(--blue);
    animation: slideIn 3s ease-in-out;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}